 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Astute developer A man of refreshing candor Values craftsmanship over execution Meticulous with creating new tools and products to facilitate.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, I am the person to go to for advice! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    Team equals the Product
                </div>
            </div>
        </div>
    </section>
