
    <!-- Portfolio Grid Section -->
    <section id="freelancer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Freelancer Reviews</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row slick">
                {% for image in site.static_files %}
                    {% if image.path contains 'img/freelancer' %}
                        <img src="{{ site.baseurl }}{{ image.path }}" alt="image" />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
        $('.slick').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            autoplay: true,
            autoplaySpeed: 1000,
        });
    });
                    
    </script>